<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div>
      <!-- <h1><%= htmlWebpackPlugin.options.title %></h1> -->
 
      <div id="app">

        <script type="x-shader/x-fragment" id="fragmentshader">

          uniform vec3 color;
          uniform sampler2D pointTexture;
    
          varying vec3 vColor;
    
          void main() {
    
            gl_FragColor = vec4( color * vColor, 1.0 );
    
            gl_FragColor = gl_FragColor * texture2D( pointTexture, gl_PointCoord );
    
            if ( gl_FragColor.a < ALPHATEST ) discard;
    
          }
    
        </script>
    </div>
  </body>
</html>